<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg">
        </div>
        
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div>
            <nav>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul>
                    <li>Créa tu cuenta</li>
                    <li>Ingresa</li>
                    <li>Mis compras</li>
                </ul>
            </nav>
        
        </div>
    </header>
    <main>
        <section>
            <h2>Sección: Basado en tu última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <p>$6.770</p>
                    <p>40 % off</p>
                    <h3>Cafetera Moulinex</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <p>$230.000</p>
                    <p>20 % off</p>
                    <h3>MacBook Pro 2019</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <p>$70.500</p>
                    <p>10 % off</p>
                    <h3>Samsung Galaxy S10</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <p>$23.200</p>
                    <p>5 % off</p>
                    <h3>SmartTv Samsung 43"</h3>                    
                </div>
        </section>
        <section>
            <div><h2><li>Sección de Ofertas</li></h2></div>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    <p>$6.770</p>
                    <p>40 % off</p>
                    <h3>Cafetera Moulinex</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    <p>$230.000</p>
                    <p>20 % off</p>
                    <h3>MacBook Pro 2019</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    <p>$70.500</p>
                    <p>10 % off</p>
                    <h3>Samsung Galaxy S10</h3>                    
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    <p>$23.200</p>
                    <p>5 % off</p>
                    <h3>SmartTv Samsung 43"</h3>                    
                </div>
            </section>
    </main>
    <footer>
        <div>
            <h2><li>Pagá con tarjeta o en efectivo</li></h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h2><li>Envío gratis desde $ 2.500</li></h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h2><li>Seguridad, de principio a fin</li></h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div>
            <h2><li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li></h2>
        </div>
    </footer>
</body>
</html>